apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-dev
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis-dev
    group: {{ .Values.webapp.group }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-dev
  template:
    metadata:
      labels:
        app: redis-dev
    spec:
      containers:
      - name: redis-dev
        image: redis:latest
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: "0.5"
            memory: 1Gi
