apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.webapp.name }}-worker
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.webapp.name }}-worker
    group: {{ .Values.webapp.group }}
    component: worker
spec:
  replicas: {{ .Values.worker.replicaCount }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: {{ .Values.webapp.name }}-worker
  template:
    metadata:
      labels:
        app: {{ .Values.webapp.name }}-worker
    spec:
      nodeSelector:
        kubernetes.io/hostname: gingworker
      containers:
      - name: {{ .Values.webapp.name }}-worker
        image: {{ .Values.webapp.container.image }}
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 1
            memory: 4Gi
        imagePullPolicy: {{ .Values.webapp.container.imagePullPolicy }}
        args:
            - celery
            - -A
            - nickknows.celery
            - worker
            - --loglevel=info
            - --events
            - --task-events
            - --concurrency=4
            - -Ofair
            - --prefetch-multiplier=1
        volumeMounts:
        - name: data-volume
          mountPath: /NickKnows/app/nickknows/nfl/data
        - name: images-volume
          mountPath: /NickKnows/app/nickknows/static/images
      volumes:
      - name: data-volume
        persistentVolumeClaim:
          claimName: {{ .Values.webapp.name }}-pvc-rook
      - name: images-volume
        persistentVolumeClaim:
          claimName: {{ .Values.webapp.name }}-images-pvc-rook
    