<!DOCTYPE html>
<html>
    <head>
        
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMZBTB7JST"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YMZBTB7JST');
    </script>
    
    <title>Home | Nick Knows</title>
        <link rel="canonical" href="{{ url_for('home') }}"/>
        <meta property="og:title" content="Home | Nick Knows"/>
        <meta property="og:url" content="{{ url_for('home') }}"/>
        <meta property="og:site_name" content="nickknows"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
        $(function(){
            $('#nick_nav').load("{{ url_for('nick_navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nick_nav"></div>
            <br>
            <div class="row">
                <div class="column">
                    <a href="{{url_for('skiing')}}"><img src="{{url_for('static',  filename='ski.jpg')}}" style="width:100%"></a>
                </div>
                <div class="column">
                    <a href="{{url_for('arcade')}}"><img src="{{url_for('static',  filename='arcade_finish.jpg')}}" style="width:100%"></a>
                </div>
            </div>
            <div class="row">
            <br>
                <div class="column">
                    <a href="{{url_for('guitar')}}"><img src="{{url_for('static',  filename='guitar.jpg')}}" style="width: 100%;"></a>
                </div>
                <div class="column">
                    <a href="{{url_for('lemans')}}"><img src="{{url_for('static',  filename='lemans_trunk.jpg')}}" style="width: 100%;"></a>
                </div>
            </div>
            <div class="row">
                <div class="column">  
                    <a href="{{url_for('values')}}"><img src="{{url_for('static',  filename='koda_samson.jpeg')}}" style="width: 100%;"></a>
                </div>
                <div class="column">
                    <a href="{{url_for('fart')}}"><img src="{{url_for('static',  filename='sew.jpg')}}" style="width: 100%;"></a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="{{url_for('NFL')}}"><img src="{{url_for('static',  filename='football.jpg')}}" style="width: 100%;"></a>
                </div>
                <div class="column">
                    <a href="{{url_for('job_parse')}}"><img src="{{url_for('static',  filename='resume.png')}}" style="width: 100%;"></a>
                </div>
            </div>
    </body>
    </head>
</html>