<!DOCTYPE html>
<html>
    <head>
        
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMZBTB7JST"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YMZBTB7JST');
    </script>
    
    <title>Nick Knows how to parse a job description</title>
        <link rel="canonical" href="{{ url_for('job_parse') }}"/>
        <meta property="og:title" content="Nick Knows how to parse a job description"/>
        <meta property="og:url" content="{{ url_for('job_parse') }}"/>
        <meta property="og:site_name" content="nickknows"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
        $(function(){
            $('#nick_nav').load("{{ url_for('nick_navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nick_nav"></div>
        <h1>Job Description Resume Comparison</h1>
            <div class="mid-bold">
                <p>
                    The following words are in the Job Description but not in your Resume. Update your resume accordingly to include these words. The number of times each word is used is included to help dictate importance.<br>
                    {% for words in missing_words %}
                        {{ words }} <br>
                    {% endfor %}
                </p>
            </div>
    </body>
    </head>
</html>
