webapp:
  name: nickknows
  group: nickknows
  fqdn: dev.nickknows.net
  path: /
  replicaCount: 1
  container: 
    image: docker.io/ncging/nick-knows:2026-02-13.17.42
    imagePullPolicy: Always
    port: 8000
  storage:
    size: 2Gi
worker:
  replicaCount: 1
gpuWorker:
  replicaCount: 0