webapp:
  name: nickknows-dev
  group: nickknows-dev
  fqdn: dev.nickknows.net
  path: /
  replicaCount: 1
  container: 
    image: docker.io/ncging/nick-knows:2026-02-13.23.18
    imagePullPolicy: Always
    port: 8000
  storage:
    size: 2Gi
worker:
  replicaCount: 1
gpuWorker:
  replicaCount: 0