<!DOCTYPE html>
<html>
    <title>Home | Nick Knows</title>
        <link rel="canonical" href="{{ url_for('home') }}"/>
        <meta property="og:title" content="Home | Nick Knows"/>
        <meta property="og:url" content="{{ url_for('home') }}"/>
        <meta property="og:site_name" content="nickknows"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
        $(function(){
            $('#nick_nav').load("{{ url_for('nick_navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nick_nav"></div>
        <h1>Nick Knows</h1>
        <div class="bubble">
            <div class="mid-bold">
                <p>
            This is a place for me to do some development work, test some different things,
            do cloud training, and just have a place for myself. Enjoy getting to know me and
            know this site will be kept up to date as things progress and I get more content.
                </p>
            </div>
            <br>
                    <h2><a href="{{url_for('arcade')}}" style="font-size: 30px;">How to build an Arcade</a></h2>
                    <p><img src="{{url_for('static',  filename='arcade_finish.jpg')}}" style="width: 75%;height: auto;"></p>
                    <h2><a href="{{url_for('lemans')}}" style="font-size: 30px;">How to restore a car</a><br></h2>
                    <p><img src="{{url_for('static',  filename='lemans_trunk.jpg')}}" style="width: 75%;height: auto;"></p>
            <br>
                    <h2><a href="{{url_for('guitar')}}" style="font-size: 30px;">How to play Guitar</a></h2>
                    <p><img src="{{url_for('static',  filename='guitar.jpg')}}" style="width: 75%;height: auto;"></p>
                    <h2><a href="{{url_for('skiing')}}" style="font-size: 30px;">How to Ski</a><br></h2>
                    <p><img src="{{url_for('static',  filename='ski.jpg')}}" style="width: 75%;height: auto;"></p>
            <br>
                    <h2><a href="{{url_for('fart')}}" style="font-size: 30px;">How to Sew</a><br></h2>
                    <p><img src="{{url_for('static',  filename='sew.jpg')}}" style="width: 75%;height: auto;"></p>
                    <h2><a href="{{url_for('NFL')}}" style="font-size: 30px;">The NFL</a></h2>
                    <p><img src="{{url_for('static',  filename='football.jpg')}}" style="width: 75%;height: auto;"></p>
        </div>
    </body>
</html>