<div class="navbar">
    <a href="{{url_for('home')}}">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Interests
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{url_for('arcade')}}">Arcade</a>
            <a href="{{url_for('lemans')}}">Car Restoration</a>
            <a href="{{url_for('guitar')}}">Guitar</a>
            <a href="{{url_for('skiing')}}">Skiing</a>
            <a href="{{url_for('NFL')}}">NFL</a>
            <a href="{{url_for('fart')}}">Fährtbags</a>
            <a href="https://www.skimoviesongs.com/">Ski Movie Songs</a>
        </div>
    </div>
</div>