<style>
    #social-media {
        padding: 5px;
        margin: auto;
        float: right;
    }
</style>

<div class="navbar">
    <a href="{{url_for('home')}}">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Interests
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{url_for('arcade')}}">Arcade</a>
            <a href="{{url_for('lemans')}}">Car Restoration</a>
            <a href="{{url_for('fart')}}">Fährtbags</a>
            <a href="{{url_for('guitar')}}">Guitar</a>
            <a href="{{url_for('job_parse')}}">Job Description Parser</a>
            <a href="{{url_for('NFL')}}">NFL</a>
            <a href="{{url_for('skiing')}}">Skiing</a>
            <a href="https://www.skimoviesongs.com/">Ski Movie Songs</a>
        </div>
    </div>
    <div style="position: relative; left:-5%">
    <a id="social-media" href="https://www.facebook.com/Nick.A.Cote"><img src="static/fb.jpg" height="40px" width="40px"></a>
    <a id="social-media" href="https://twitter.com/NCGingi"><img src="static/twit.jpg" height="40px" width="40px"></a>
    <a id="social-media" href="https://www.linkedin.com/in/nicholas-alan-cote/"><img src="static/in.jpg" height="40px" width="40px"></a>
    <a id="social-media" href="https://www.youtube.com/channel/UCttd2npS2zsDR0_VlxVA-PA"><img src="static/yt.jpg" height="40px" width="40px"></a>
    <a id="social-media" href="https://www.instagram.com/nickco7/"><img src="static/ig.jpg" height="40px" width="40px"></a>
    </div>
</div>