<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#nfl_navbar').load("{{ url_for('nfl_navbar') }}")
        })
    </script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nfl_navbar"></div>
        <h1>NFL Stat Leaders</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            {% endif %}
        {% endwith %}
                <form action="{{ url_for('NFLupdate') }}">
                    <input type="submit" value="Update Data" style="font-size: 20px;border-radius: 5px;">
                </form>
        <div class="big-bold">
            <p>
            Use this site to browse NFL data for the 2022 season. <br>
            The update button will make sure all data is present. <br>
            I had tried to get top 10 information on this page, but the dataset got too large. <br>
            All the links work, but I am in the process of reworking the code for the home page. <br> 
            This is running on GCP on an e2-micro instance and does not have enough RAM. <br>
            I am using pandas to read csv files and it's causing oom kills now. <br>
            </p>
        </div>
    </body>
</html>