<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#nfl_navbar').load('http://127.0.0.1:5000/templates/nfl_navbar.html')
        })
    </script>
    <script>
        $(function(){
            $('#header').load('http://127.0.0.1:5000/templates/header.html')
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nfl_navbar"></div>
        {{ headshot | safe }} <br>
        <h1>{{ position }} - {{ name }}</h1>
            {{ player_stats | safe }}
    </body>
</html>