<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#nfl_navbar').load("{{ url_for('nfl_navbar') }}")
        })
    </script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nfl_navbar"></div>
        <h1>{{ fullname }}</h1>
            <h3>Against QB = {{ pass_agg|round(2, 'common') }} pts/week</h3>
            <h3>Against RB = {{ rush_agg|round(2, 'common') }} pts/week</h3>
            <h3>Against WR = {{ rec_agg|round(2, 'common') }} pts/week</h3>
            <h3>Against TE = {{ te_agg|round(2, 'common') }} pts/week</h3>
            <h2>Results</h2>
            {{ team_fpa | safe }}<br>
            <h2>QB Stats</h2>
            {{ pass_data | safe }}<br>
            <h2>RB Stats</h2>
            {{ rush_data | safe }}<br>
            <h2>WR Stats</h2>
            {{ rec_data | safe }}
            <h2>TE Stats</h2>
            {{ te_data | safe }}
    </body>
</html>