<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#nfl_navbar').load('https://www.nickknows.net/templates/nfl_navbar.html')
        })
    </script>
    <script>
        $(function(){
            $('#header').load('https://www.nickknows.net/templates/header.html')
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="nfl_navbar"></div>
        <h1>Week {{ week }}</h1>
            {{ week_schedule | safe }}
    </body>
</html>